@using ABLAB.Sogo.Shared.Dtos
@using ABLAB.Sogo.Shared.Services
@using System.Globalization

<div class="upper-box clearfix">
    <div class="sec-title">
        <span class="title">ZNAJDŹ NIERUCHOMOŚCI WG FILTRA</span>
        <h2>WYBRANE NIERUCHOMOŚCI</h2>
    </div>

    <!--Filter-->
    <div class="filters">
        <ul class="filter-tabs filter-btns clearfix">
            <li clss"filter"><a href="#property-search-form">Zmień filtr</a></li>
            <li class="filter" @onclick="() => FilterStatus(string.Empty)">Wszystkie</li>
            @foreach (var status in Statuses)
            {
                <li class="filter" @onclick="() => FilterStatus(status)">@status</li>
            }
        </ul>
    </div>
</div>
<div class="filter-list row">
@if (FilteredApartments.Count > 0)
{
    foreach(var apartment in FilteredApartments.Take(TakeCount))
    {
        var imageUrl = $"{ApartmentsStore.ApiBaseUrl}{apartment.ImageFile}";
        <!-- Property Block -->
        <div class="property-block all @apartment.Status.Name col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
                <div class="image-box">
                    <figure class="image"><img src="@imageUrl" alt=""></figure>
                    <span class="for">@apartment.Status.Name</span>
                        @if (!string.IsNullOrEmpty(apartment.Headlite))
                        {
                            <span class="featured">@apartment.Headlite</span>
                        }
                    <ul class="info clearfix">
                            <li><i class="la la-calendar-minus-o"></i>@($"Termin realizaci: {apartment.FinaleDate.ToString("yyyy-MM")}")</li>
                    </ul>
                </div>
                <div class="lower-content">
                    <ul class="tags">
                        <li><a href="property-detail.html">tag1</a>,</li>
                        <li><a href="property-detail.html">tag2</a></li>
                    </ul>
                    <div class="thumb"><img src="images/resource/thumb-3.jpg" alt=""></div>
                    <h3><a href="property-detail.html">@apartment.Symbol</a></h3>
                    <div class="lucation"><i class="la la-map-marker"></i> @apartment.Investment.Name</div>
                    <ul class="property-info clearfix">
                        <li><i class="flaticon-money"></i>@apartment.Price.ToString("C0", new CultureInfo("pl-PL"))</li>
                        <li><i class="flaticon-dimension"></i>@apartment.Area m<sup>2</sup></li>
                        @if (apartment.Rooms > 1)
                        {
                            <li><i class="flaticon-bed"></i> @apartment.Rooms pokoje</li>
                        }
                        else
                        {
                            <li><i class="flaticon-bed"></i> @apartment.Rooms pokój</li>
                        }
                        @if (apartment.ParkingSlot == true)
                        {
                            <li><i class="flaticon-car"></i> Miejsce na auto</li>
                        }
                        <li>@apartment.Headlite</li>
                    </ul>
                </div>
            </div>
        </div>
    }
}
else
{
        <p>Brak mieszkań dla zadanego filtra. <a href="#property-search-form">Zmień filtr</a></p>
}
</div>

<!-- Load More -->
<div class="load-more-btn text-center">
    @if (FilteredApartments.Count > TakeCount)
    {
        <button class="theme-btn btn-style-two" @onclick="() => LoadMore()">Pokaż więcej mieszkań</button>
    }
</div>
<!--End Property Section Two -->