@using ABLAB.Sogo.Shared.Dtos
@using ABLAB.Sogo.Shared.Extensions
@using ABLAB.Sogo.Shared.Services

@if (PopularApartments.Count > 0)
{
    foreach (var apartment in PopularApartments)
    {
        var imageUrl = $"{ApartmentsStore.ApiBaseUrl}{apartment.ImageFile}";
        var apartmentUrl = $"/apartment/{apartment.Id}";
        <!-- New Property -->
        <div class="new-property">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <span class="status">@apartment.Status.Name</span>
                        <h3><a href="@apartmentUrl">Mieszkanie @apartment.Id</a></h3>
                        <div class=" -from"><i class="flaticon-money"></i> PLN @apartment.Price</div>
                        <div class="lucation"><i class="la la-map-marker"></i> @apartment.Investment.Name</div>

                        <div class="text">@apartment.Description</div>

                        <ul class="property-info clearfix">
                            <li><i class="flaticon-dimension"></i>@apartment.Area.SqrMeters()</li>
                            <li><i class="flaticon-bed"></i>@apartment.Rooms pokoje</li>
                            @if (@apartment.ParkingSlot == true)
                            {
                                <li><i class="flaticon-car"></i>Miejsce postojowe</li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- Image column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <figure class="image"><img src="@imageUrl" alt="Rzut mieszkania"></figure>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <p>Ładowanie popularnych mieszkań...</p>
}
<!--End Property Section Two -->