@using ABLAB.Sogo.Shared.Dtos
@using ABLAB.Sogo.Shared.Services

<div class="form-group col-lg-2 col-md-6 col-sm-12">
    <select class="custom-select-box" @bind="InvestmentId">
        @if (ApartmentsParams is not null && ApartmentsParams.Investments != null)
        {
            <option selected value="0">Inwestycja</option>
            foreach (var item in ApartmentsParams.Investments)
            {
                <option value="@item.Id">@item.Name</option>
            }
        }
    </select>
</div>

<!-- Form Group maxPrice-->
<div class="form-group col-lg-2 col-md-6 col-sm-12">
    <select class="custom-select-box" @bind="SelectedMaxPrice">
            <option selected value="0">Max cena</option>
            <option value="@ApartmentsParams.MaxPrice">@ApartmentsParams.MaxPrice</option>
            @{ 
                List<decimal> prices = new List<decimal>();
                decimal maxPrice = ApartmentsParams.MaxPrice;
                while (maxPrice > ApartmentsParams.MinPrice)
                {
                    maxPrice -= DefaultPriceMargin;
                    prices.Add(maxPrice);
                }
                foreach (var item in prices)
                {
                    <option value="@item">@item</option>
                }
            }
    </select>
</div>

<!-- Form Group minPrice-->
<div class="form-group col-lg-2 col-md-6 col-sm-12">
    <select class="custom-select-box" @bind="SelectedMinPrice">
            <option selected value="0">Min cena</option>
            <option value="@ApartmentsParams.MinPrice">@ApartmentsParams.MinPrice</option>
            @{
                List<decimal> minPrices = new List<decimal>();
                decimal minPrice = ApartmentsParams.MinPrice;
                while (minPrice < ApartmentsParams.MaxPrice)
                {
                    minPrice += DefaultPriceMargin;
                    minPrices.Add(minPrice);
                }
                foreach (var item in minPrices)
                {
                    <option value="@item">@item</option>
                }
            }
    </select>
</div>


<!-- Form Group rooms-->
<div class="form-group col-lg-2 col-md-6 col-sm-12">
    <select class="custom-select-box" @bind="SelectedRooms">
        @{
            List<decimal> rooms = new List<decimal>();
            <option selected value="0">Ilość pokoi</option>
            <option value="@ApartmentsParams.MaxRooms">@ApartmentsParams.MaxRooms</option>
            decimal maxRooms = ApartmentsParams.MaxRooms;
            while (maxRooms > ApartmentsParams.MinRooms)
            {
                maxRooms -= 1;
                rooms.Add(maxRooms);
            }
            foreach (var item in rooms)
            {
                <option value="@item">@item</option>
            }
        }
    </select>
</div>

<!-- Form Group area-->
<div class="form-group col-lg-2 col-md-6 col-sm-12">
    <select class="custom-select-box" @bind="SelectedArea">
        @{
            List<decimal> areas = new List<decimal>();
            <option selected value="0">Powierzchnia</option>
            <option value="@ApartmentsParams.MaxArea">około @ApartmentsParams.MaxArea m<sup>2</sup></option>
            decimal maxArea = ApartmentsParams.MaxArea;
            while (maxArea > ApartmentsParams.MinArea)
            {
                maxArea -= decimal.Round(maxArea * DefaultMargin, 0, MidpointRounding.ToEven);
                areas.Add(maxArea);
            }
            foreach (var item in areas)
            {
                <option value="@item">około @item m<sup>2</sup></option>
            }
        }
    </select>
</div>

<!-- Form Group -->
<div class="form-group col-lg-2 col-md-6 col-sm-12">
    <button type="submit" class="theme-btn btn-style-one" @onclick="() => FilterParameters()">Szukaj</button>
</div>